/* 卡操作页面左侧样式 */
#pos_avatar {
  color: #f00;
}
#posTopbar {
  height: 52px;
  position: relative;
  background: -ms-linear-gradient(top, #fff, #f0f1f3);
  /* IE 10 */
  background: -moz-linear-gradient(top, #b8c4cb, #f0f1f3);
  /*火狐*/
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#b8c4cb), to(#f0f1f3));
  /*谷歌*/
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#fff), to(#f0f1f3));
  /* Safari 4-5, Chrome 1-9*/
  background: -webkit-linear-gradient(top, #fff, #f0f1f3);
  /*Safari5.1 Chrome 10+*/
  background: -o-linear-gradient(top, #fff, #f0f1f3);
  /*Opera 11.10+*/
  border-bottom: #c8d1de solid 1px;
}
#posInfo {
  line-height: 52px;
}
#posFunBtn {
  line-height: 52px;
}
#posMainContent {
  margin-top: 18px;
}
.posMemTel {
  font-size: 15px;
  font-weight: bold;
  border-right: 1px dashed #000;
  line-height: 22px;
}
.posEditBtn {
  font-size: 14px;
}
.posMinfo {
  font-size: 15px;
  line-height: 26px;
}
.posLeft {
  background: white;
}
.birthinfo {
  font-size: 15px;
  line-height: 26px;
}
#cardStyle {
  background: #cdedf0;
}
.posCell {
  height: 81px;
  margin: 10px 0 0 0;
  border-radius: 6px;
  padding: 18px 0 0 0;
  border: 1px solid #cccfd8;
  position: relative;
  overflow: hidden;
}
.selectpos {
  margin: 77px auto 0 auto;
  width: 700px;
  background: #fff;
  border: 1px solid #e2e5ed;
  padding: 0 15px 15px 15px;
}
.posEndCan {
  padding: 0 15px 0 0;
}
.posCell > div {
  font-size: 15px;
}
.checkedIcon {
  position: absolute;
  background: #85d3e7;
  top: -20px;
  right: -20px;
  transform: rotate(-45deg);
  height: 40px;
  width: 40px;
  border: 1px solid #66b8cc;
}
.correctIcon {
  position: absolute;
  top: 9px;
  transform: rotate(42deg);
  color: #fff;
}
#customBtnPanel:after {
  content: " ";
  display: block;
  clear: both;
}
#customBtnPanel {
  position: absolute;
  top: 73%;
  left: 28%;
  background: #fff;
}
.posSearchInput {
  border-radius: 4px !important;
  height: 60px;
}
.posSearchBtn {
  border-radius: 4px !important;
  height: 60px;
}
.posFunCell {
  height: 50px;
  width: 50px;
  line-height: 50px;
  background: pink;
  margin: 10px 10px 10px 0;
}
#posCan {
  background: #cddaec;
}
