<div class="modal-header">
    <h3 class="modal-title">修改密码</h3>
</div>
<div class="modal-body">
    <form class="form-horizontal"  name="form" ng-submit="saveEditPassword(user)" autocomplete="off">
    
		 <div class="form-group">
              <label for="oldPassword" class="col-sm-3 control-label  control-label-left">原密码：</label>
              <div class="col-sm-4">
                  <input type="password" class="form-control form-control-input" set-focus="focusOn" id="oldPassword" name="oldPassword" 
                         ng-model="user.oldPassword" maxlength="6" required 
                         tooltip-trigger="blur" uib-tooltip="{{form.oldPassword.$invalid?'请输入原系统密码':''}}"
                         tooltip-placement="bottom" placeholder="请输入原系统密码" />
           	 </div>
          </div>
          
          <div class="form-group">
              <label for="newPassword" class="col-sm-3 control-label  control-label-left">新密码：</label>
              <div class="col-sm-4">
                  <input type="password" class="form-control form-control-input"  id="newPassword" name="newPassword" 
                  		ng-model="user.newPassword" maxlength="6" required 
                         tooltip-trigger="blur" uib-tooltip="{{form.newPassword.$invalid?'请输入修改后新密码':''}}"
                         tooltip-placement="bottom" placeholder="请输入修改后新密码" />
           	 </div>
          </div>
          
          <div class="form-group">
              <label for="newRepassword" class="col-sm-3 control-label  control-label-left">确认密码：</label>
              <div class="col-sm-4">
                  <input type="password" class="form-control form-control-input"  id="newRepassword" name="newRepassword" 
                  		ng-model="user.newRepassword" maxlength="6" required 
                         tooltip-trigger="blur" uib-tooltip="{{validatePasswd(user)? tipMsg.repassword:''}}"
                         tooltip-placement="bottom" placeholder="请再输一遍新密码" />
           	 </div>
          </div>
          
          <div class="form-group">
              <div class="col-sm-offset-4 col-sm-2">
                  <button type="submit" class="btn btn-primary btn-large pos-btn" ng-disabled="form.$invalid || !user.isValidNewpassword">确定</button>
              </div>
              <div class="col-sm-2">
                  <button type="button" class="btn  btn-default btn-large pos-btn" ng-click="cancel()">取消</button>
              </div>
          </div>
     </form>       
</div>
